version: "3.9"

services:
  web:
    build: ./app
    container_name: secure_todo_web
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: secure_todo_db
    restart: always
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: