services:
  web:
    build: ./app
    container_name: secure_todo_web
    expose:
      - "5000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: secure_todo_db
    restart: always
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/selfsigned.crt:/etc/nginx/ssl/selfsigned.crt:ro
      - ./nginx/selfsigned.key:/etc/nginx/ssl/selfsigned.key:ro
    depends_on:
      - web
volumes:
  mysql_data: